$mainColor:#BB0F2E;
#head {
    padding:20px 0;
    border-bottom:2px solid $mainColor;
}
#main {
    .container{
        padding:34px 5px 55px 134px;
    }
    .lg_r{
        width:406px;
        height: 395px;
        border:1px solid #ccc;
        form{
            padding-left:36px;
            border-bottom:1px dashed #ccc;
            h3{
                font-size:20px;
                line-height: 72px;
                font-weight:bold;
                color:#796D67;
                text-align:center;
                margin-bottom:6px;
            }
            .uname,.pwd{
                height: 34px;
                width: 300px;
                font-size:14px;
                padding-left:6px;
                border:1px solid #ccc;
                margin-bottom:16px;
            }
            label{
                font-size:12px;
            }
            button{
                width: 300px;
                height:40px;
                color:#fff;
                background:#CC0000;
                line-height: 40px;
                text-align:center;
                margin-top:18px;
            }
            p{
                line-height: 42px;
                font-size:12px;
                a{color:#B2E8FF;}
            }
        }
        .others{
            margin-left:10px;
            font-size:12px;
            line-height: 36px;
            color:#999999;
        }
        .icon {position:relative;margin-left:38px;}
        a{
            i{
                display:block;
                width: 34px;
                height: 34px;
                background:url(img/sprite.fw.png) no-repeat;
                background-position:0 -250px;
                position:absolute;
                left:0;
                top:0;
                
            }
            &:nth-child(2) i{
                background-position:-50px -250px;
                left:42px;
            }
            &:nth-child(3) i{
                background-position:-100px -250px;
                left:84px;
            }
            &:nth-child(4) i{
                background-position:-150px -250px;
                left:124px
            }
        }
    }
}
footer{
    border-top:1px solid #ccc;
}