@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

fieldset, img, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*去掉input等聚焦时的蓝色边框*/
ul, ol {
  list-style: none;
}

/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/
select, input {
  vertical-align: middle;
}

/*select, input, textarea { font-size:12px; margin:0; }*/
textarea {
  resize: none;
}

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 1em;
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s, i, em {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/
.container {
  /*版心 提取 */
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.hide {
  display: none;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.head_bar {
  background-color: #ECE7E3;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.head_bar ul li {
  float: left;
  color: #85726C;
  font-size: 12px;
}

.head_bar .userinfos {
  width: 260px;
}

.head_bar .userinfos li:first-child {
  padding: 0 10px;
  line-height: 30px;
}

.head_bar .userinfos i {
  color: #D3161B;
  margin-right: 4px;
}

.head_bar .userinfos .login span {
  border-right: 1px solid #A08779;
}

.head_bar .userinfos a, .head_bar .sitelinks a {
  color: #85726C;
  display: block;
  height: 20px;
}

.head_bar .userinfos a span, .head_bar .sitelinks a span {
  display: block;
  padding: 0 8px;
  height: 14px;
  margin-top: 7px;
  text-align: center;
}

.head_bar .sitelinks {
  width: 350px;
}

.head_bar .sitelinks i {
  display: block;
  width: 12px;
  height: 16px;
  position: absolute;
  background: url(img/sprite.fw.png) no-repeat;
}

.head_bar .sitelinks li {
  height: 30px;
  position: relative;
}

.head_bar .sitelinks li:nth-child(3) a span {
  padding-right: 20px;
}

.head_bar .sitelinks li:nth-child(3) i {
  right: 6px;
  top: 8px;
}

.head_bar .sitelinks li:nth-child(4) a span {
  padding-left: 22px;
}

.head_bar .sitelinks li:nth-child(4) i {
  left: 6px;
  top: 6px;
  background-position: -20px 0;
}

.head_bar .sitelinks li:hover .mylist {
  display: block;
}

.head_bar .sitelinks a span {
  border-right: 1px solid #A08779;
}

.head_bar .sitelinks .mylist {
  padding-top: 4px;
  z-index: 2;
  background: #fff;
  width: 100px;
  position: absolute;
  display: none;
  left: 0;
  top: 30px;
}

.head_bar .sitelinks .mylist li {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #85726C;
}

.head_bar .sitelinks .mylist li:hover {
  background: #A11011;
}

.head_bar .sitelinks .mylist li:hover a {
  color: #fff;
}

.head_bar .sitelinks .mylist li a {
  padding: 0 8px;
}

.head_bar .sitelinks .mylist:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid #ECE7E3;
  border-bottom-color: #fff;
  position: absolute;
  left: 34px;
  top: -10px;
}

.head_bar li:hover > a {
  color: #D3161B;
}

.head_bar .bold {
  font-weight: bold;
}

.head_main {
  background: #F1EEED;
}

.head_main .head_logo h1 {
  text-indent: -100px;
  height: 0;
}

.head_main .head_logo a {
  display: block;
  height: 100px;
  float: left;
}

.head_main .head_logo a:nth-child(2) {
  margin: 0 28px 0 8px;
}

.head_main .head_c {
  width: 462px;
  margin-left: 66px;
  padding-top: 30px;
  font-size: 12px;
}

.head_main .head_c div {
  border: 1px solid #ED1C24;
}

.head_main .head_c div input {
  background: #F1EEED;
  margin-left: 2px;
  width: 378px;
  height: 34px;
  color: #CCCCCC;
}

.head_main .head_c div button {
  height: 34px;
  width: 80px;
  color: #fff;
  background: #ED1C24;
}

.head_main .head_c p {
  margin-top: 7px;
}

.head_main .head_c p span {
  color: #A89893;
  margin-right: 15px;
}

.head_main .head_c p a:hover span {
  color: #D3161B;
}

.head_main .head_r {
  width: 123px;
  position: relative;
}

.head_main .head_r a {
  display: block;
  height: 36px;
  line-height: 36px;
  background: #A78974;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.head_main .head_r:hover .shopcart-sum {
  display: block;
}

.head_main .head_r:before, .head_main .head_r:after {
  content: '';
  display: block;
  width: 22px;
  height: 18px;
  top: 38px;
  position: absolute;
  background: url(img/sprite.fw.png) no-repeat;
}

.head_main .head_r:before {
  left: 6px;
  background-position: -40px 0;
}

.head_main .head_r:after {
  right: 6px;
  background-position: -70px 0;
}

.head_main .head_r span {
  display: block;
  width: 22px;
  height: 16px;
  position: absolute;
  background: #AD0916;
  left: 8px;
  top: 14px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.head_main .head_r span:before {
  content: "";
  display: block;
  border: 3px solid #A78974;
  width: 0;
  height: 0;
  border-top-color: #AD0916;
  position: absolute;
  left: 8px;
  top: 16px;
}

.head_main .head_r .shopcart-sum {
  display: none;
  width: 250px;
  height: 55px;
  position: absolute;
  background: #fff;
  left: -126px;
  top: 67px;
  z-index: 1000;
}

.head_main .head_r .shopcart-sum .btn-viewcart {
  margin-right: 10px;
  background: #BB0F2E;
  position: absolute;
  right: 0;
  top: -20px;
  float: right;
  width: 100px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  border-radius: 25px;
}

.head_main .head_r .shopcart-sum p {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  font-size: 12px;
  line-height: 24px;
}

.nav {
  position: relative;
  z-index: 100;
  background: #D3161B;
}

.nav .container .nav_l {
  width: 200px;
  position: relative;
}

.nav .container .nav_l h3 {
  height: 36px;
  padding-left: 30px;
  line-height: 36px;
  background: #A11011;
  font-size: 16px;
  color: #E7E7E5;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav .container .nav_l ul {
  z-index: 100;
  background: #fff;
  box-size: border-box;
  position: absolute;
  top: 36px;
  font-size: 12px;
  width: 100%;
  padding-bottom: 20px;
}

.nav .container .nav_l ul li {
  border-bottom: 1px solid #ccc;
  padding: 0 22px 4px 10px;
  position: relative;
}

.nav .container .nav_l ul li a {
  color: #666666;
  line-height: 24px;
  padding: 0 1px;
}

.nav .container .nav_l ul li h4 {
  font-weight: bold;
}

.nav .container .nav_l ul li i {
  display: block;
  width: 6px;
  height: 12px;
  background: url(img/sprite.fw.png) no-repeat;
  background-position: -100px 0;
  position: absolute;
  right: 6px;
  top: 6px;
}

.nav .container .nav_l ul li .strong {
  background: #D3161B;
  color: #fff;
  border-radius: 10px;
}

.nav .container .nav_l ul li:hover {
  transform: translateY(1px);
}

.nav .container .nav_l ul li ul {
  display: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  transition: 2s all;
}

.nav .container .nav_l ul li ul li {
  padding: 4px 0 10px;
  border-bottom: 1px dashed #81665c;
  font-size: 14px;
}

.nav .container .nav_l ul li ul li h5 {
  float: left;
  width: 80px;
  line-height: 24px;
  font-family: 微软雅黑;
}

.nav .container .nav_l ul li ul li p {
  margin-left: 85px;
  line-height: 22px;
}

.nav .container .nav_l ul li ul li p a {
  padding: 0 6px;
  font-size: 12px;
}

.nav .container .nav_l ul li ul li p a:hover {
  color: #D3161B;
}

.nav .container .nav_l ul li:hover ul {
  animation: move 2s ease 1;
  display: block;
  animation-fill-mode: forwards;
}

.nav .container .nav_r li {
  float: left;
  position: relative;
}

.nav .container .nav_r li a {
  display: block;
  height: 36px;
  color: #fff;
  padding-top: 10px;
  font-size: 14px;
}

.nav .container .nav_r li a span {
  display: block;
  padding: 0 20px;
  border-right: 2px solid #A01705;
}

.nav .container .nav_r li .active {
  background: #BC0001;
}

.nav .container .nav_r li:hover a {
  background: #BC0001;
}

.nav .container .nav_r li:hover a span {
  border-right: 2px solid #BC0001;
  border-left: 2px solid #D3161B;
  margin-left: -2px;
}

.nav .container .nav_r li:first-child a span, .nav .container .nav_r li:last-child a span {
  border-right: none;
}

.nav .container .nav_r li:nth-child(2):hover a span {
  border-right: 2px solid #BC0001;
  border-left: 2px solid #BC0001;
  margin-left: -2px;
}

.nav .container .nav_r li:nth-child(7):before, .nav .container .nav_r li:nth-child(8):before {
  content: "";
  display: block;
  width: 22px;
  height: 11px;
  background: url(img/sprite.fw.png) no-repeat;
  background-position: -120px 0;
  position: absolute;
  right: 4px;
  top: 4px;
}

.nav .container .nav_r li:nth-child(8):before {
  background-position: -160px 0;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(200px);
    opacity: 0.8;
  }
}

.foot-col {
  background: #E8E8E8;
  padding-bottom: 68px;
}

.foot-col .container .foot-col1 {
  padding-left: 10px;
  border-bottom: 1px solid #D3161B;
}

.foot-col .container .foot-col1 h2 {
  margin-top: 12px;
  height: 108px;
  line-height: 108px;
  font-size: 28px;
  color: #D3161B;
  margin-right: 120px;
}

.foot-col .container .foot-col1 a {
  position: relative;
  width: 184px;
  display: block;
  float: left;
  margin-top: 58px;
  font-size: 20px;
  color: #D3161B;
}

.foot-col .container .foot-col1 a h3 {
  font-weight: bold;
}

.foot-col .container .foot-col1 a span {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

.foot-col .container .foot-col1 a:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background: url(img/sprite.fw.png) no-repeat;
  background-position: 0 -160px;
  position: absolute;
  left: -42px;
  top: -7px;
}

.foot-col .container .foot-col1 a:nth-of-type(2):before {
  background-position: -60px -160px;
}

.foot-col .container .foot-col1 a:nth-of-type(3):before {
  background-position: -120px -160px;
}

.foot-col .container .foot-col1 a:nth-of-type(4):before {
  background-position: -180px -160px;
}

.foot-col .container .foot-col1 a:nth-of-type(5):before {
  background-position: -240px -160px;
}

.foot-col .container .foot-col2 {
  padding-top: 35px;
}

.foot-col .container .foot-col2 li {
  width: 74px;
  margin-right: 46px;
  float: left;
}

.foot-col .container .foot-col2 li h3 {
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  height: 32px;
  line-height: 32px;
}

.foot-col .container .foot-col2 li p {
  font-size: 12px;
}

.foot-col .container .foot-col2 li p a {
  display: block;
  color: #66667A;
  line-height: 22px;
}

.foot-col .container .foot-col2 li p span {
  color: #66667A;
  line-height: 22px;
}

.foot-col .container .foot-col2 li .letter {
  height: 88px;
  width: 88px;
  background: url(../css/img/index_r2.png) no-repeat;
}

.foot-col .container .foot-col3 .mobile {
  margin-top: 40px;
  margin-bottom: 20px;
}

.foot-col .container .foot-col3 .mobile a {
  margin-right: 15px;
  float: left;
  display: block;
  width: 106px;
  height: 30px;
  background: #D3161B;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.foot-col .container .foot-col3 .code dt {
  margin-right: 15px;
  float: left;
  text-indent: -10000px;
  display: block;
  width: 104px;
  height: 98px;
  background: url(../css/img/link.png) no-repeat;
}

.foot-col .container .foot-col3 .code p {
  width: 96px;
  height: 98px;
  background: url(../css/img/app.png) no-repeat;
}

.foot-col .container .foot-col3 .sns {
  margin-top: 24px;
}

.foot-col .container .foot-col3 .sns .sina {
  display: block;
  text-index: -10000px;
  width: 42px;
  height: 38px;
  background: url(../css/img/sina.png) no-repeat;
  margin-right: 8px;
}

.foot-col .container .foot-col3 .sns .sns-r {
  font-size: 14px;
  color: #66667A;
  margin-right: 10px;
}

.foot-col .container .foot-col3 .sns .sns-r .add-btn {
  margin-top: 4px;
  color: #66667A;
  display: block;
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  width: 60px;
  height: 18px;
  text-align: center;
}

.foot-nav {
  background: #F6F6F6;
}

.foot-nav .container {
  text-align: center;
  font-size: 12px;
  color: #867666;
}

.foot-nav .container span {
  padding: 0 16px;
}

.foot-nav .container a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #867666;
}

.foot-links {
  background: #f6f6f6;
}

.foot-links .container {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #CCCCCC;
  padding-left: 124px;
  position: relative;
}

.foot-links .container a {
  color: #CCCCCC;
}

.foot-links .container .btn-more {
  display: block;
  width: 12px;
  height: 12px;
  background: url(img/sprite.fw.png) no-repeat;
  background-position: -370px 0;
  position: absolute;
  right: 65px;
  top: 4px;
}

.foot-license {
  background: #f6f6f6;
}

.foot-license .container {
  text-align: center;
  font-size: 12px;
  color: #999999;
  height: 31px;
  line-height: 31px;
}

.foot-license .container a {
  color: #999999;
}

.foot-license .container .f1 {
  position: relative;
}

.foot-license .container .f1:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(img/sprite.fw.png) no-repeat;
  background-position: 0px -220px;
  position: absolute;
  left: -24px;
  top: -1px;
}

.foot-license .container .sep {
  padding: 0 34px 0 10px;
}

.foot-license .container .year18:before {
  background-position: -30px -220px;
}

.foot-license .container .shzxw:before {
  background-position: -60px -220px;
}

.foot-license .container .shgs:before {
  background-position: -90px -220px;
}

.foot-copyright {
  height: 211px;
  text-align: center;
  padding-top: 10px;
  background: #f6f6f6;
  font-size: 12px;
  color: #999;
}

.foot-copyright a {
  color: #999999;
}

.foot-copyright .cx {
  margin: 10px 0;
}

.foot-copyright .wgdjp {
  margin-left: 136px;
}
